<div class="modal-header">
    <h4 class="modal-title">Invoice</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="invoiceForm" (onSubmit)="onSubmit()" >
        <div class="form-group">
            <label for="name">Name</label>
            <input [ngClass]="{ 'is-invalid': invoiceForm.get('name').invalid && submitted }" type="text"
                class="form-control" formControlName="name" id="name">
            <div *ngIf="invoiceForm.get('name').invalid && (invoiceForm.get('name').dirty || invoiceForm.get('name').touched)"
                class="invalid-feedback">

                <div *ngIf="invoiceForm.get('name').errors.required">
                    Name is required.
                </div>
                <div *ngIf="invoiceForm.get('name').errors.maxlength">
                    Name cannot be greater than 150 characters long.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" formControlName="description" id="description"
            [ngClass]="{ 'is-invalid': invoiceForm.get('description').invalid && submitted }">
            <div *ngIf="invoiceForm.get('description').invalid && (invoiceForm.get('description').dirty || invoiceForm.get('description').touched)"
                class="invalid-feedback">

                <div *ngIf="invoiceForm.get('description').errors.required">
                    Description is required.
                </div>
                <div *ngIf="invoiceForm.get('description').errors.maxlength">
                    Description cannot be greater than 500 characters long.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Recurrence
            </div>
            <div class="card-body">
                <div formGroupName="recurrence">
                    <div class="form-group">
                        <label for="recurrenceType">Recurrence Type</label>
                        <select class="form-control" id="recurrenceType" formControlName="recurrenceType"
                        [ngClass]="{ 'is-invalid': invoiceForm.get('recurrence.recurrenceType').invalid && submitted }">
                            <option value="None">None</option>
                            <option value="Yearly">Yearly</option>
                            <option value="Monthly">Monthly</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Custom">Custom</option>
                        </select>
                        <div *ngIf="invoiceForm.get('recurrence.recurrenceType').invalid && (invoiceForm.get('recurrence.recurrenceType').dirty || invoiceForm.get('recurrence.recurrenceType').touched)"
                            class="invalid-feedback">

                            <div *ngIf="invoiceForm.get('recurrence.recurrenceType').errors.required">
                                Recurrence Type is required.
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label for="start">Start</label>
                        <div class="input-group">
                            <input class="form-control" placeholder="dd/mm/yyyy" id="start" formControlName="start"
                                ngbDatepicker #d="ngbDatepicker" [ngClass]="{ 'is-invalid': invoiceForm.get('recurrence.start').invalid && submitted }">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                                    type="button"></button>
                            </div>
                            <div *ngIf="invoiceForm.get('recurrence.start').invalid && (invoiceForm.get('recurrence.start').dirty || invoiceForm.get('recurrence.start').touched)"
                            class="invalid-feedback">

                            <div *ngIf="invoiceForm.get('recurrence.start').errors.required">
                                Recurrence Start is required.
                            </div>

                        </div>
                        </div>
                        
                    </div>

                    <div class="form-group"  *ngIf="invoiceForm.get('recurrence.recurrenceType').value == 'Custom'">
                        <label for="times">How many times a month?</label>
                        <input type="number" class="form-control" formControlName="times" id="times">
                    </div>
                </div>
            </div>
        </div>


    </form>
    <!-- <pre>Model: {{ invoiceForm.value | json }}</pre> -->
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secundary" (click)="onClose()">Close</button>
    <button type="submit" class="btn btn-primary" (click)="onSave()">Save</button>
</div>