<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Actions</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Reurrence Type</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let invoice of invoices; index as i">
            <th scope="row">
                <button type="button" class="btn btn-sm btn-link"
                (click)="editInvoice(invoice)">Edit</button>
                <button type="button" class="btn btn-sm btn-link">Delete</button>
            </th>
            <td>
                {{ invoice.name }}
            </td>
            <td>{{ invoice.description }}</td>
            <td>{{ invoice.recurrence.recurrenceType }}</td>
        </tr>
    </tbody>
</table>