.nav-brand {
    cursor: pointer;
}

.header-complex-invoker {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1rem;
    color: #4a4e69;
    transition: all .2s ease-in;
    cursor: pointer;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
}

@media (min-width: 768px) {
    .mr-md-2, .mx-md-2 {
        margin-right: 0.5rem !important;
    }

    .d-md-block {
        display: block !important;
    }
}

.rounded-circle {
    border-radius: 50% !important;
}

s.d-none {
    display: none !important;
}