<div class="container">
    <div *ngFor="let month of getMonths()">
        <h5>{{ month | date : "MMMM yyyy" }}</h5>
        <hr class="my-4" />
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col mb-4" *ngFor="let statement of statements[month.getMonth()]; index as i; trackBy: trackByStatement">
                <div class="card" [ngClass]="{ 'border border-success': statement.isPaid }">
                    <div class="card-header">
                      {{statement.invoice.name}}
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{statement.date | date}}</h5>
                      <p class="card-text">{{statement.notes}}</p>
                      <span class="float-right">
                        <button class="btn btn-link" (click)="setPaidAmount(statement)">{{statement.amount | currency}}</button>
                      </span>
                    </div>
                  </div>
            </div>
        </div>
    </div>
    
        
</div>